
    <section id="contenedor-main"></section>
    <header>
        <img src="/assets/imagenes/WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu">
            <nav>
                <ul>
                    <li class="menu-centrado"><a (click)="go('/pagina-principal')">Inicio</a></li>
                    <li class="menu-centrado"><a (click)="go('/marihuana')">Marihuana</a></li>
                    <li class="menu-centrado"><a (click)="go('/lsd')">LSD</a></li>
                    <li class="menu-centrado"><a (click)="go('/clonazepam')">Clonazepam</a></li>
                    <li class="menu-centrado"><a (click)="go('./paco')">Paco</a></li>
                    <li class="menu-centrado"><a (click)="go('/cocaina')">Cocaina</a></li>
                    <li class="menu-centrado"><a (click)="go('/foro')">Foros</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="color" class="fuente">
        <h1 class="mayusculas">Cocaina:</h1>
        <h1>La cocaína o benzoilmetilecgonina según la denominación común internacional, también conocida simplemente como coca, es un alcaloide tropano y fuerte estimulante utilizado sobre todo como droga recreativa.</h1>
        <h1>Es un polvo blanco. Se puede inhalar por la nariz o mezclarse con agua e inyectarse con una aguja. La cocaína también se puede convertir en pequeñas rocas blancas, llamada crack. El crack se fuma en una pipa de vidrio pequeña.</h1>
        <img src="/assets/imagenes/coca.jpg" alt="" class="imagen2"> <img src="/assets/imagenes/descarga (1).jpg" alt="" class="imagen2">
        <h1>La cocaína acelera todo su cuerpo. Usted puede sentirse lleno de energía, feliz y emocionado. Pero luego su estado de ánimo puede cambiar. Usted puede sentirse enojado, nervioso y temeroso de que alguien está tratando de hacerle daño. Usted puede hacer cosas que no tienen sentido. Después de acabarse la sensación de excitación tras consumir cocaína, se puede "estrellar" y sentirse cansado y triste por días. También causa un fuerte deseo de tomar la droga de nuevo para tratar de sentirse mejor.</h1>
        <h1>No importa cómo se consuma la cocaína, es peligrosa. Algunos de los problemas graves más comunes incluyen ataque cardiaco y accidente cerebrovascular. Usted también está en riesgo de contraer VIH/SIDA y hepatitis al compartir agujas o tener relaciones sexuales sin protección. La cocaína es más peligrosa cuando se combina con otras drogas o alcohol.</h1>
        <h1>Es fácil perder el control sobre el consumo de cocaína y convertirse en adicto. Entonces, incluso si usted recibe tratamiento, puede ser difícil mantenerse sin consumir la droga. Las personas que dejaron de usar cocaína todavía pueden sentir fuertes antojos de la droga, a veces incluso años más tarde.</h1>
    </div>
    <div class="texto">
        <h1 class="texto3">Mas informacion en: </h1>
        </div>
        <div class="texto2">
        <a href="https://youtu.be/2ziu4npGtEA" class="texto4">https://youtu.be/2ziu4npGtEA</a>
        </div>
