

    <section id="contenedor-main"></section>
    <header>
        <img src="WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu">
            <nav>
                <ul>
                    <li class="menu-centrado"><a routerLink="./pagina-principal">Inicio</a></li>
                    <li class="menu-centrado"><a routerLink="./marihuana">Marihuana</a></li>
                    <li class="menu-centrado"><a routerLink="./lsd">LSD</a></li>
                    <li class="menu-centrado"><a routerLink="./">Clonazepam</a></li>
                    <li class="menu-centrado"><a routerLink="./paco">Paco</a></li>
                    <li class="menu-centrado"><a routerLink="./cocaina">Cocaina</a></li>
                    <li class="menu-centrado"><a routerLink="./foro">Foros</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="color">
        <h1 class="mayusculas">Clonazepam:</h1>
        <h1>El fármaco clonazepam pertenece a la familia de las benzodiacepinas y, como tal, además de requerir siempre receta médica, está sometido a un especial control por el riesgo de adicción.</h1>
        <h1 class="mayusculas">¿Para qué sirve el clonazepam?</h1>
        <h1>El mecanismo de acción de las benzodiacepinas, que reduce la actividad eléctrica de las neuronas en el cerebro, proporciona diversas posibilidades terapéuticas. Al igual que otros fármacos de este grupo, clonazepam tiene un efecto ansiolítico, sedante y relajante muscular. «La ventaja que tiene el clonazepam respecto a otras benzodiacepinas es que tiene una vida media más larga», explica Adrián Valls, coordinador del Grupo de Estudio de Neurofarmacología de la Sociedad Española de Neurología .</h1>
        <img src="090dbb56-4664-4b99-a9ad-2a98fb2df78b.jpg" alt="" class="imagen2"> <img src="descarga.jpg" alt="" class="imagen2">
        <h1>Efectos adversos y contraindicaciones del clonazepam</h1>
        <h1>El efecto adverso más relevante y frecuente del clonazepam es la sedación. Valls alerta del riesgo de dependencia del clonazepam, común al resto de las benzodiacepinas, principalmente cuando se toma el medicamento de forma continua durante largo tiempo. Tomar benzodiacepinas exclusivamente con receta médica. No aumentar bajo ningún concepto las dosis prescritas por el médico ni prolongar el tratamiento más allá del tiempo pautado.</h1>
        <h1>Consultar al médico regularmente para que decida si es preciso continuar el tratamiento o interrumpirlo. En algunos casos, el clonazepam puede causar reacciones alérgicas, como cualquier otro medicamento. No obstante, «se ha visto que la combinación con ácido valproico, que es otro anticonvulsivante, se puede asociar, precisamente, a algún tipo de epilepsia», advierte el farmacéutico.</h1>
        <h1 class="mayusculas">Clonazepam y alcohol</h1>
        <h1>Al igual que sucede con el resto de las benzodiacepinas, está totalmente contraindicada la ingesta conjunta de clonazepam y alcohol.</h1>
        <h1 class="mayusculas">¿Es seguro en el embarazo?</h1>
        <h1>En principio, no se recomienda la administración de benzodiacepinas durante el embarazo por los problemas que pueden causar en el feto. En ese supuesto, el médico de familia o el neurólogo que siga a la paciente optaría por usar la dosis más baja posible.</h1>
    </div>
    <div class="texto">
        <h1 class="texto3">Mas informacion en: </h1>
        </div>
        <div class="texto2">
        <a href="https://youtu.be/FsyiR603oJw" class="texto3">https://youtu.be/FsyiR603oJw</a>
        </div>
<script src="script.js"></script>
