
    <section id="contenedor-main">
<header>
        <img src="WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu"> 
            <nav>
                <ul>
                    <li class="menu-centrado2"><a routerLink="./pagina-principal">Inicio</a></li>
                    <li class="menu-centrado2"><a routerLink="./">Foro de experiencias</a></li>
                    <li class="menu-centrado2"><a routerLink="./foro2">Foro de ayuda</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" id="buscador" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
    </div>
    </header>
    <div class="color">
        <div class="margen">
            <h1>Espacio para compartir tus experiencias:</h1>
        <div class="color3">
            <input type="text" name="Buscar" id="buscador" placeholder="   Contanos tu experiencia" class="src"> <button class="button">Subir</button>
        </div>
        </div>
    </div>
    
