
    <div class="color">
        <div class="texto-centrado">
            <h1 class="texto3">Inicio de Sesión</h1>
        </div>
     <div class="texto-centrado2">
            <input [(ngModel)]="user" class="texto3" type="text" style="height: 30px; width: 200px;"  required id="Nombres" placeholder="&#128273;      Ingrese nombre de usuario">
           <input [(ngModel)]="pass" class="texto3" type="password" style="height: 30px; width: 200px;" required id="Contraseña" placeholder="&#128274;          Ingrese su contraseña">
            <br>
            <a routerLink="./pagina-principal" class="texto3" ><input class="button" type="submit" name="Ingresar" style="width: 200px; height: 30px;" ></a>
            <a routerLink="./cuenta">class="texto3">¿No tienes una cuenta?</a>
    </div>
    </div>
