
    <section id="contenedor-main"></section>
    <header>
        <img src="/assets/imagenes/WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu">
            <nav>
                <ul>
                    <li class="menu-centrado"><a (click)="go('/pagina-principal')">Inicio</a></li>
                    <li class="menu-centrado"><a (click)="go('/marihuana')">Marihuana</a></li>
                    <li class="menu-centrado"><a (click)="go('/lsd')">LSD</a></li>
                    <li class="menu-centrado"><a (click)="go('/clonazepam')">Clonazepam</a></li>
                    <li class="menu-centrado"><a (click)="go('./paco')">Paco</a></li>
                    <li class="menu-centrado"><a (click)="go('/cocaina')">Cocaina</a></li>
                    <li class="menu-centrado"><a (click)="go('/foro')">Foros</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="color">
        <h1 class="mayusculas">Paco:</h1>
        <h1>El paco aparecía definido inicialmente como el residuo del proceso de elaboración de clorhidrato de cocaína. Es decir el tratamiento que se le hace a la ‘pasta base de coca’ o PBC que tras diversos procesos de cocción y secado permiten la obtención del clorhidrato de cocaína, el polvo de cocaína que puede ser inhalado o inyectado dado que es soluble. De allí el nombre tradicional de pasta base de cocaína . Cuando con la PBC, se trata de obtener el Clorhidrato de Cocaína, es necesario hacerlo con compuestos más purificados.</h1>
        <h1>Para ello, se emplean oxidantes como el permanganato de potasio, luego se disuelve con éter y mediante el tratamiento con ácido clorhídrico, precipita como clorhidrato de cocaína. La aparición de la PBC en Argentina, Uruguay y Chile comenzó a fines de los ’90, por las restricciones que pesaban sobre los productos dominados «precursores químicos» necesarios para su extracción y refinación en otros países, ingresando entonces la pasta base para su purificación en nuestro territorio. Este fue el nacimiento de las «cocinas», como se las conoce en la jerga, en esos laboratorios caseros se procesa la pasta base para fabricar paco y también clorhidrato de cocaína.</h1>
        <h1 class="mayusculas"> FORMAS DE PRESENTACIÓN </h1>
            
        <h1>Es un producto que se obtiene en la producción del clorhidrato de cocaína. Contiene entre un 40 y un 60% del alcaloide puro mezclado con ceniza y otros adulterantes. Es una sustancia pulverulenta amorfa, su color puede variar del blanco sucio hasta el café. Su punto de volatilización es bajo y por eso es posible fumarla, a diferencia del clorhidrato.</h1>
        <img src="/assets/imagenes/1ad90830-5705-45c7-98de-d0962c47a302.jpg" alt="" class="imagen2"> <img src="/assets/imagenes/eadc4daa-0cd6-456d-adf2-1ecfe0ff5f8b.jpg" alt="" class="imagen2">
        <h1>Existe poca correlación entre el tiempo de consumo y la edad de los usuarios. Hay usuarios de 15 años con más de 6 años de consumo, al lado de usuarios de 30 años con unos pocos meses.</h1>
            
        <h1> Es posible que una parte importante de los sujetos más graves, aquellos que no logran salir del círculo compulsivo de la droga y degradación social, tengan como antecedentes rasgos anormales de personalidad y otros síntomas psicosociales que son previos al uso de la sustancia. La pérdida de normativas sociales que vive el usuario, lo va transformado en otro ser, situación que podría denominarse Síndrome sociopático. El consumo de pasta base amplifica la vulnerabilidad social de origen, tanto del usuario como de su familia.</h1>
            
        <h1>El estímulo desencadena un intenso síndrome disfórico en que el sujeto sufre una verdadera crepuscularización de la conciencia y sólo desea consumir la droga, acompañado de dolor abdominal, urgencia rectal, inquietud psicomotora e irritabilidad.</h1>
            
        <h1>Se sugiere que las sensaciones que provoca están en relación con la farmacodinamia de la sustancia y no con la concentración plasmática alcanzada, de ahí las diferencias con el clorhidrato de cocaína. Las sensaciones placenteras desaparecen o se atenúan significativamente, en tanto aparecen síntomas motores cada vez más intensos , psíquicos y alteraciones sensoperceptuales ante dosis progresivamente menores. Esto corresponde a fenómenos de tolerancia y sensibilización. Las manifestaciones clínicas más frecuentes son las relativas al uso de cocaína, más las alteraciones pulmonares graves relacionadas a la vía y forma de administración.</h1>
            
        <h1>Con el paso del tiempo dosis muy pequeñas desencadenan el síndrome, lo que es altamente sugerente de la expresión de la sensibilización a esta sustancia.</h1>
    </div>
    <div class="texto">
        <h1 class="texto3">Mas informacion en: </h1>
        </div>
        <div class="texto2">
        <a href="https://youtu.be/8KI70zGp7Ak" class="texto4">https://youtu.be/8KI70zGp7Ak</a>
        </div>
