
    

    <section id="contenedor-main"></section>
    <div class="color">
       <div class="texto-centrado">
        <h1 class="titulos">Registrese</h1>
       </div>
        <div class="texto-centrado2">
                <input type="text" style="height: 30px; width: 200px;" name="usuario" id="Nombres" placeholder="      Ingrese nombre de usuario" class="texto3">
                <br><br>
                <input type="password" style="height: 30px; width: 200px;" name="pass" id="Contraseña" placeholder="          Ingrese su contraseña" class="texto3">
                <br><br>
                <a (click)="go('/pagina-principal')" class="texto2"><input class="button" type="submit" name="Registrar" style="width: 200px; height: 30px;" ></a>
                <br><br>
               <a (click)="go('/cuenta')" class="texto">¿Tienes una cuenta?</a>
       </div>
    </div>
