
    <section id="contenedor-main"></section>
    <header>
        <img src="/assets/imagenes/WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu">
            <nav>
                <ul>
                    <li class="menu-centrado"><a (click)="go('/pagina-principal')">Inicio</a></li>
                    <li class="menu-centrado"><a (click)="go('/marihuana')">Marihuana</a></li>
                    <li class="menu-centrado"><a (click)="go('/lsd')">LSD</a></li>
                    <li class="menu-centrado"><a (click)="go('/clonazepam')">Clonazepam</a></li>
                    <li class="menu-centrado"><a (click)="go('./paco')">Paco</a></li>
                    <li class="menu-centrado"><a (click)="go('/cocaina')">Cocaina</a></li>
                    <li class="menu-centrado"><a (click)="go('/foro')">Foros</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
        </div>
    </header>


<div class="color">
        <h1 class="mayusculas">¿Qué es la marihuana?</h1>
        <h1>La marihuana es una mezcla verde, marrón o gris de partes desmenuzadas y secas de la planta de marihuana. La planta contiene sustancias químicas que actúan en el cerebro y pueden cambiar su estado de ánimo o conciencia.</h1>
        <h1 class="mayusculas">¿Cómo se usa la marihuana?</h1>
        <h1>Hay muchas maneras diferentes en que las personas usan marihuana, incluyendo:</h1>
        <h1>Enrollar y fumarla como un cigarrillo o un cigarro</h1>
        <h1>Fumarla en una pipa</h1>
        <h1>Mezclarla en la comida y comerla</h1>
        <h1>Preparándola como un té</h1>
        <h1>Inhalar aceites humeantes de la planta (conocido como "dabbing" en inglés)</h1>
        <h1>Vaporizadores electrónicos (vapear)</h1>
        <h1>¿Cuáles son los efectos de la marihuana?</h1>
        <h1 class="mayusculas">La marihuana puede causar efectos a corto y largo plazo.</h1>
        <h1>A corto plazo:</h1>
        <h1>Bajo los efectos de la droga, se puede experimentar:</h1>
        <h1>Sentidos alterados, como ver colores más brillantes.</h1>
        <h1>Sentido del tiempo alterado, como minutos que parecen horas</h1>
        <h1>Cambios en el estado de ánimo</h1>
        <h1>Problemas con el movimiento del cuerpo</h1>
        <h1>Problemas con el pensamiento, resolver problemas y la memoria</h1>
        <h1>Mayor apetito</h1>
           <img src="assets/imagenes/mari.jpg" alt="" class="imagen2"> <img src="assets/imagenes/images.jpg" alt="" class="imagen2">
        <h1>   A largo plazo:</h1>
        <h1>A largo plazo, la marihuana puede causar problemas de salud como:</h1>
        <h1>Problemas con el desarrollo del cerebro: Las personas que comenzaron a consumir marihuana en la adolescencia pueden tener problemas para pensar, recordar y aprender</h1>
        <h1>Tos y problemas respiratorios si fuma marihuana frecuentemente</h1>
        <h1>Problemas del desarrollo infantil durante y después del embarazo si una mujer fuma marihuana durante el embarazo</h1>
        
        <h1 class="mayusculas">¿Se puede tener una sobredosis de marihuana?</h1>
        <h1>Es posible que ocurra una sobredosis de marihuana si se consume una dosis muy alta. Los síntomas incluyen ansiedad, pánico y latidos cardíacos rápidos. En casos raros, una sobredosis puede causar paranoia y alucinaciones. No hay informes de personas que mueran solo por usar marihuana.</h1>
        <h1 class="mayusculas">¿Es la marihuana adictiva?</h1>
        <h1>Después de usar marihuana por un tiempo, es posible volverse adicto a ella. Es más probable que se vuelva adicto si consume marihuana todos los días o si comenzó a usarla cuando era un adolescente. Si es adicto, tendrá una fuerte necesidad de consumir la droga. También es posible que necesite fumar más y más para obtener el mismo efecto.</h1>
        <h1>Cuando intente dejar de fumarla, puede tener síntomas leves de abstinencia, como: </h1>
        <h1>Irritabilidad</h1>
        <h1>Problemas para dormir</h1>
        <h1>Disminución del apetito</h1>
        <h1>Ansiedad</h1>
        <h1>Antojos</h1>     
        <h1 class="mayusculas">¿Qué es la marihuana medicinal?</h1>
        <h1>La planta de marihuana tiene sustancias químicas que pueden ayudar con algunos problemas de salud. Ha aumentado el número de estados que están legalizando el uso de la planta como medicamento para ciertas afecciones médicas. Pero no hay suficiente investigación para demostrar que la planta entera trabaja para tratar o curar estos males. La Administración de Alimentos y Medicamentos de los Estados Unidos (FDA, por su sigla en inglés) no ha aprobado la planta de marihuana como medicamento. La marihuana sigue siendo ilegal a nivel federal.</h1>
        <h1>Sin embargo, los científicos han estudiado los efectos de los cannabinoides, las sustancias químicas de la marihuana. Los dos cannabinoides principales que son de interés médico son el tetrahidrocannabinol (THC) y el cannabidiol (CBD). La FDA ha aprobado dos medicamentos que contienen THC. Estos tratan las náuseas causadas por la quimioterapia y aumentan el apetito en pacientes con pérdida severa de peso por sida. También hay un medicamento líquido que contiene CBD. Trata dos formas de epilepsia infantil severa. Los científicos están haciendo más investigaciones con la marihuana y sus ingredientes para tratar muchas enfermedades y condiciones.</h1>
</div>
            <div class="texto">
                <h1 class="texto3">Mas informacion en: </h1>
            </div>
                <div class="texto2">
                    <a href="https://youtu.be/wST5aApiPCU" class="texto4">https://youtu.be/wST5aApiPCU</a>
                </div>

    
     
