<section>
    <section id="contenedor-main"></section>
    <header>

        <img src="/assets/imagenes/WhatsApp Image 2023-06-19 at 14.49.43.jpeg" alt="" class="imagen">
        <div class="menu">
            <nav>
                <ul>
                    <li class="menu-centrado"><a (click)="go('/pagina-principal')">Inicio</a></li>
                    <li class="menu-centrado"><a (click)="go('/marihuana')">Marihuana</a></li>
                    <li class="menu-centrado"><a (click)="go('/lsd')">LSD</a></li>
                    <li class="menu-centrado"><a (click)="go('/clonazepam')">Clonazepam</a></li>
                    <li class="menu-centrado"><a (click)="go('./paco')">Paco</a></li>
                    <li class="menu-centrado"><a (click)="go('/cocaina')">Cocaina</a></li>
                    <li class="menu-centrado"><a (click)="go('/foro')">Foros</a></li>
                    <div class="box">
                        <input type="text" name="Buscar" id="buscador" placeholder="           🔍Buscar" class="src" autocomplete="off">
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    <div class="color">
        <h1 class="mayusculas">Uso de sustancias - LSD:</h1> 
        <h1> LSD son las siglas en inglés de la dietilamida de ácido lisérgico. Es es una droga ilegal que se presenta en forma de polvo, líquido, tableta o cápsula. El LSD por lo general se consime vía oral.Algunas personas lo inhalan por la nariz o lo inyectan.</h1>
        <br>
        <img src="/assets/imagenes/LSD.jpeg" alt="" class="imagen2"> <img src="/assets/imagenes/Carton.jpeg" alt="" class="imagen2">
        <h1> En la jerga callejera también se usan: amarillo suave, micropuntos, neblina púrpura, terrones de azúcar, alegría azul, eléctrica Kool-Aid, golpes, Lucy en el cielo con diamantes,  pestañas sol, cristal de la ventana, ácido, papel secante y ácido secante.</h1>
        <h1 class="mayusculas">Los efectos del LSD en el cerebro:</h1>
        <h1> El LSD es una droga psicoactiva. Eso significa que actúa sobre el sistema nervioso central del cerebro y cambia su estado de ánimo, su forma de actuar y la manera en la que se relaciona con el mundo a su alrededor. Perjudica la manera en la que la serotonina funciona, esta ayuda a controlar el comportamiento, el estado de ánimo, los sentidos y el pensamiento.</h1>
        <h1>El LSD forma parte de una subclasificacion alucinógenas. Estas son sustancias que provocan alucinaciones, como su nombre lo indica. Estas son cosas que usted escucha, ve o siente estando despierto y parecen reales, pero en realidad más ha creado nuestro cerebro. El LSD es muy poderoso. Es suficiente muy poco para afectar nuestra mente.</h1>
        <h1> Las personas que lo consumen llaman a las alucinaciones viajes. Un buen viaje puede ser inspirador y abrir tu mente, uno malo puede ser aterrador.</h1>
        <h1>El peligro del LSD es que sus efectos no se pueden predecir. No se puede saber cómo le afectará, algunos ejemplos son sentirse invencible, escuchar colores, muchas emociones al mismo tiempo, querer lastimar a otros, entre otris.</h1>
        <h1>Algunos usuarios de LSD tienen escenas retrospectivas. Las escenas retrospectivas, conocidas en inglés como flashbacks, suceden en momentos en los que aumenta el estrés. Las escenas retrospectivas tienden a suceder con menor frecuencia e intensidad luego de suspender el uso del LSD."cruzarse".</h1>
        <h1>La rapidez con la que sentirá los efectos del LSD dependerá de la manera en la que lo use</h1>
        <h1>Tomado por vía oral: el efecto suele comenzar tras 20 a 30 minutos. El efecto alcanza su punto máximo luego de 2 a 4 horas y puede durar hasta 12 horas.
        Inyectada: Si se suministra a través de una vena, los efectos del LSD comienzan en 10 minutos.</h1>
        <h1 class="mayusculas"> Efectos dañinos del LSD:</h1>
        <h1>Insomnio, inapetencia, temblores y sudoración, Aumento en el ritmo cardíaco, la presión sanguínea, la frecuencia respiratoria y la temperatura corporal ansiedad, depresión y esquizofrenia.</h1>
        <h1 class="mayusculas">Tolerancia al LSD:</h1>
        <h1> El LSD no es adictivo, pero puede decantar muy rápido en la tolerancia, incluso después de solo unos pocos días. La tolerancia significa que puede necesitar más y más LSD para llegar a el mismo efecto.</h1>    
    </div>
    <div class="texto">
    <h1 class="texto3">Mas informacion en: </h1>
    </div>
    <div class="texto2">
    <a href="https://youtu.be/u8fUHuxURc" class="texto4">https://youtu.be/u8fUHuxURc</a>
    </div>
    <script src="script.js"></script>
</section>